@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
  font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: #fdfeff;
  overflow-x: hidden;
}

.dot {
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon-btn{
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
}